trigger: ["master"]
pr: ["master"]

jobs:
- template: ci/azure-rustfmt.yml
  parameters:
    name: rustfmt

# Basic test run on all platforms
- template: ci/azure-test-stable.yml
  parameters:
    name: Linux_Stable
    displayName: Test
    vmImage: ubuntu-16.04
    crates:
      - tower-balance
      - tower-buffer
      - tower-discover
      - tower-filter
      - tower-hedge
      - tower-layer
      - tower-limit
      - tower-load
      - tower-load-shed
      - tower-reconnect
      - tower-retry
      - tower-service
      - tower-make
      - tower-spawn-ready
      - tower-test
      - tower-timeout
      - tower-util
      - tower

- template: ci/azure-deploy-docs.yml
  parameters:
    dependsOn:
      - rustfmt
      - Linux_Stable
