[workspace]

members = [
  "tower",
  "tower-balance",
  "tower-buffer",
  "tower-discover",
  "tower-filter",
  "tower-layer",
  "tower-limit",
  "tower-load-shed",
  "tower-map",
  "tower-reconnect",
  "tower-retry",
  "tower-service",
  "tower-test",
  "tower-timeout",
  "tower-util",
]
