[workspace]

members = [
  "tower-balance",
  "tower-buffer",
  "tower-discover",
  "tower-filter",
  "tower-in-flight-limit",
  "tower-mock",
  "tower-rate-limit",
  "tower-reconnect",
  "tower-router",
  "tower-service",
  "tower-timeout",
  "tower-util",
  "tower-watch",
]

[dev-dependencies]
futures = "0.1"
log = "0.4.1"
env_logger = { version = "0.5.3", default-features = false }
tokio-timer = "0.1"
futures-cpupool = "0.1"
