[package]

name = "tower"
version = "0.1.0"
license = "MIT/Apache-2.0"
authors = ["Carl Lerche <me@carllerche.com>"]
description = """
An extensible request / response system, used to construct high-concurrency
servers and clients.
"""

documentation = "https://docs.rs/tower"
homepage = "https://tower.rs"
repository = "https://github.com/tower-rs/tower"
readme = "README.md"
publish = false

[workspace]

members = [
  "./",
  "tower-balance",
  "tower-buffer",
  "tower-discover",
  "tower-filter",
  "tower-mock",
  "tower-rate-limit",
  "tower-reconnect",
  "tower-router",
  "tower-timeout",
  "tower-util",
]

[dependencies]
futures = "0.1"

[dev-dependencies]
log = "0.3"
env_logger = "0.4"
tokio-timer = "0.1"
futures-cpupool = "0.1"
