[advisories]

[licenses]
allow = [
    "MIT",
    "Apache-2.0",
    "BSD-3-Clause",
    "Unicode-3.0",
]
confidence-threshold = 0.8

[bans]
multiple-versions = "deny"
highlight = "all"
skip = []

[sources]
unknown-registry = "warn"
unknown-git = "warn"
allow-git = []
