[package]
name = "tower-mock"
version = "0.1.0"
authors = ["Carl Lerche <me@carllerche.com>"]
publish = false

[dependencies]
futures = "0.1"
tokio-sync = "0.1.3"
tower-service = { version = "0.2", path = "../tower-service" }
