[package]
name = "tower-test"
version = "0.1.0"
authors = ["Carl Lerche <me@carllerche.com>"]
publish = false

[dependencies]
futures = "0.1"
tokio-sync = "0.1.3"
tower-service = "0.2.0"

[dev-dependencies]
tower = { version = "0.1.0", path = "../tower" }
