[package]
name = "tower-test"
# When releasing to crates.io:
# - Remove path dependencies
# - Update html_root_url.
# - Update doc url
#   - Cargo.toml
#   - README.md
# - Update CHANGELOG.md.
# - Create "v0.1.x" git tag.
version = "0.1.0"
authors = ["Tower Maintainers <team@tower-rs.com>"]
license = "MIT"
publish = false
edition = "2018"

[dependencies]
futures = "0.1.26"
tokio-sync = "0.1.3"
tower-service = "0.2.0"

[dev-dependencies]
tower = { version = "0.1.0", path = "../tower" }
