[package]
name = "tower"
# When releasing to crates.io:
# - Remove path dependencies
# - Update html_root_url.
# - Update doc url
#   - Cargo.toml
#   - README.md
# - Update CHANGELOG.md.
# - Create "v0.1.x" git tag.
version = "0.1.1"
authors = ["Tower Maintainers <team@tower-rs.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/tower-rs/tower"
homepage = "https://github.com/tower-rs/tower"
documentation = "https://docs.rs/tower/0.1.1"
description = """
Tower is a library of modular and reusable components for building robust
clients and servers.
"""
categories = ["asynchronous", "network-programming"]
keywords = ["io", "async", "non-blocking", "futures", "service"]
edition = "2018"

[features]
default = ["std-log-support", "full"]
std-log-support = ["tower-buffer/log"]
full = []

[dependencies]
futures = "0.1.26"
tower-buffer = { version = "0.1.0", default-features = false }
tower-discover = "0.1.0"
tower-layer = "0.1.0"
tower-limit = "0.1.0"
tower-load-shed = "0.1.0"
tower-retry = "0.1.0"
tower-service = "0.2.0"
tower-timeout = "0.1.0"
tower-util = { version = "0.1.0", features = ["io"] }

[dev-dependencies]
futures = "0.1.26"
log = "0.4.1"
tokio = "0.1"
env_logger = { version = "0.5.3", default-features = false }
void = "1.0.2"
