[package]
name = "tower"
# When releasing to crates.io:
# - Remove path dependencies
# - Update html_root_url.
# - Update doc url
#   - Cargo.toml
#   - README.md
# - Update CHANGELOG.md.
# - Create "v0.1.x" git tag.
version = "0.3.0"
authors = ["Tower Maintainers <team@tower-rs.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/tower-rs/tower"
homepage = "https://github.com/tower-rs/tower"
documentation = "https://docs.rs/tower/0.3.0-alpha.2"
description = """
Tower is a library of modular and reusable components for building robust
clients and servers.
"""
categories = ["asynchronous", "network-programming"]
keywords = ["io", "async", "non-blocking", "futures", "service"]
edition = "2018"

[features]
default = ["full"]
full = []

[dependencies]
# tower-buffer = { version = "=0.3.0-alpha.2", path = "../tower-buffer" }
# tower-discover = { version = "=0.3.0-alpha.2", path = "../tower-discover" }
tower-layer = { version = "0.3.0", path = "../tower-layer" }
# tower-limit = { version = "=0.3.0-alpha.2", path = "../tower-limit" }
# tower-load-shed = { version = "=0.3.0-alpha.2", path = "../tower-load-shed" }
# tower-retry = { version = "=0.3.0-alpha.2", path = "../tower-retry" }
tower-service = { version = "0.3.0", path = "../tower-service" }
# tower-timeout = { version = "=0.3.0-alpha.2", path = "../tower-timeout" }
tower-util = { version = "0.3.0", path = "../tower-util" }
futures-core-preview = "=0.3.0-alpha.19"

[dev-dependencies]
env_logger = { version = "0.5.3", default-features = false }
futures-util-preview = "=0.3.0-alpha.19"
log = "0.4.1"
tokio = { version = "0.2.1", features = ["full"] }
tower-test = { version = "0.3.0", path = "../tower-test" }
